/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #222;
}

h1,
h2,
h3 {
  color: #fff;
}

p {
  color: #ccc;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Header */
header {
  background-color: #333;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

/* Sections */
section {
  padding: 50px 0;
}

.dark-section {
  background-color: #111;
}

.content {
  width: 80%;
  margin: 0 auto;
}

/* Social links */
.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

/* Jobs */
.job {
  margin-bottom: 40px;
}

.job h3 {
  margin-bottom: 10px;
}

/* Skills */
.skills-list h3 {
  margin-top: 20px;
}

/* Contact */
#contact {
  text-align: center;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }

  header {
    padding: 10px;
  }
}
